
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li
{
    padding-bottom: 5px;
}
body
{
    display: flex; 
    flex-wrap: wrap;
    background-image: url("images/main_background.png");
    background-repeat: no-repeat;
    justify-content: center;
    gap:45px;
}

.title
{
    width: 100%;
    color:#515076;
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align:center;
    padding:100 px 0;
    box-sizing:border-box;
    font-family:"montserrat", sans-serif;
}
.product-card__clue
{
    color: #A5A3B9;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform:uppercase;
    text-align: left;
    padding-bottom:5px;
    width:300px;
    height:24px;
    font-family:"montserrat", sans-serif;
}
.product-card__name
{
    color: #515076;
    font-size: 20px;
    font-weight: 700px;
    line-height: 27px;
    width:300px;
    height:27px;
    padding-bottom:5px;
    font-weight: bold;
    font-family:"montserrat", sans-serif;
}
.product-card__image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:30px;
    width:100%;
    font-family:"montserrat", sans-serif;
}
.product-card__description
{
    color: #515076;
    font-size: 13px;
    font-weight: 400px;
    line-height: 18px;
    margin-bottom: 15px;
    list-style-position: inside;
    width:287px;
    height:36px;
    font-family:"montserrat", sans-serif;
}

.product-card__compound
{
    color: #515076;
    font-size: 13px;
    font-weight: 400px;
    line-height: 18px;
    width: 300px;
    padding:0;
    margin-bottom: 5px;
    list-style-position: inside;
    font-family:"montserrat", sans-serif;
}
.product-card__ingridients
{
    color: #515076;
    font-size: 13px;
    font-weight: 400px;
    line-height: 18px;
    width: 300px;
    margin-bottom: 15px;
    list-style-position: inside;
    font-family:"montserrat", sans-serif;
}
.product-card__price
{
    color: #515076;
    font-size: 20px;
    font-weight: 700px;
    line-height: 24px;
    font-family:"montserrat", sans-serif;
}
.product-card__cost
{
    color: #515076;
    font-size: 20px;
    font-weight: 700px;
    line-height: 24px;
    padding-left: 159px;
    font-family:"montserrat", sans-serif;
}
.product-card
{
    background-color: #F7F7FA;
    width: 340px;
    border-radius: 10px;
    height:573px;
    padding:25px 25px 25px 25px;
    display: flex;
    flex-wrap: wrap;
    font-family:"montserrat", sans-serif;
}
.button
{
    height: 20px;
}
.color
{
  color: red;
}

.color.color-one
{
  color: #8B00FF ;
}