* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
li {
  padding-bottom: 5px;
}
body {
  display: flex;
  flex-wrap: wrap;
  background-image: url("images/main_background.png");
  background-repeat: no-repeat;
  justify-content: center;
  gap: 45px;
}

.title {
  width: 100%;
  color: #515076;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  padding: 100px 0;
  box-sizing: border-box;
}
.product-card__clue {
  color: #a5a3b9;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 5px;
  width: 300px;
  height: 24px;
}
.product-card__name {
  color: #515076;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  width: 300px;
  height: 27px;
  padding-bottom: 5px;
  font-weight: bold;
}
.product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 100%;
}
.product-card__description {
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 15px;
  list-style-position: inside;
  width: 287px;
  height: 36px;
}

.product-card__compound {
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 300px;
  padding: 0;
  margin-bottom: 5px;
  list-style-position: inside;
}
.product-card__ingridients {
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 300px;
  margin-bottom: 15px;
  list-style-position: inside;
}
.product-card__price {
  color: #515076;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.product-card__cost {
  color: #515076;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 159px;
}
.product-card {
  background-color: #f7f7fa;
  width: 340px;
  border-radius: 10px;
  height: 573px;
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-wrap: wrap;
}
.button {
  height: 20px;
}
.color {
  color: red;
}

.color.color-one {
  color: #8b00ff;
}
